@font-face {
  font-family: "TT-Chocolates";
  src: url("./TT-Chocolates-DemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "TT-Chocolates", sans-serif;
}
